html {
  font-size: 18px;
  font-family: "Iowan Old Style", Georgia, serif;
}

h1 {
  text-align: center;
}

.media-object {
  display: flex;
  width: 660px;
  background-color: #dcdcdc;
  border-radius: 6px;
  padding: .75em;
  margin: 2px auto;
  > img {
    width: 100px;
    height: 100px;
    margin-right: .75em;
    flex-shrink: 0;
  }
  > .media-text {
    flex-grow: 1;
    > p {
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    > .media-object {
      width: 100%;
      padding: 0;
    }
  }
}
